body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
#_idContainer000, #_idContainer031 {
	-ms-transform:translate(0.500px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:799.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,0.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1279.00px;
}
#_idContainer001 {
	-ms-transform:translate(463.750px,320.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(463.750px,320.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:176.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(463.750px,320.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(463.750px,320.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:406.85px;
}
#_idContainer002 {
	-ms-transform:translate(426.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(426.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:522.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(426.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(426.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer003 {
	-ms-transform:translate(310.000px,514.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(310.000px,514.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(310.000px,514.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(310.000px,514.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:120.00px;
}
#_idContainer004 {
	-ms-transform:translate(146.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(146.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(146.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(146.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1134.00px;
}
#_idContainer005 {
	-ms-transform:translate(306.000px,176.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(306.000px,176.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:248.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(306.000px,176.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(306.000px,176.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer006 {
	-ms-transform:translate(142.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(142.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(142.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(142.000px,255.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer007 {
	-ms-transform:translate(212.000px,328.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(212.000px,328.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(212.000px,328.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(212.000px,328.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer008 {
	-ms-transform:translate(212.000px,333.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(212.000px,333.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:466.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(212.000px,333.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(212.000px,333.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:8.00px;
}
#_idContainer009 {
	-ms-transform:translate(0.500px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:8.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,416.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:308.00px;
}
#_idContainer010, #_idContainer025 {
	-ms-transform:translate(0.000px,1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:799.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1279.00px;
}
#_idContainer011 {
	-ms-transform:translate(748.800px,117.983px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(748.800px,117.983px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:660.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(748.800px,117.983px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(748.800px,117.983px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:507.95px;
}
#_idContainer012 {
	-ms-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:176.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:437.66px;
}
#_idContainer013 {
	-ms-transform:translate(0.500px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:657.50px;
}
#_idContainer014 {
	-ms-transform:translate(0.500px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:801.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,-1.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1279.00px;
}
#_idContainer015 {
	-ms-transform:translate(748.991px,170.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(748.991px,170.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:627.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(748.991px,170.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(748.991px,170.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:498.11px;
}
#_idContainer016 {
	-ms-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:527.39px;
}
#_idContainer017 {
	-ms-transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:394.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:328.75px;
}
#_idContainer018 {
	-ms-transform:translate(338.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(338.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:394.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(338.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(338.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:320.00px;
}
#_idContainer019 {
	-ms-transform:translate(0.500px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:387.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,410.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:657.50px;
}
#_idContainer020, #_idContainer036 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:799.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1279.00px;
}
#_idContainer021 {
	-ms-transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:627.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:500.78px;
}
#_idContainer022 {
	-ms-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.29px;
}
#_idVideo000 {
	-ms-transform:translate(-0.759%,-0.794%) rotate(0.000deg) skew(0.000deg) scale(1.015,0.970);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.759%,-0.794%) rotate(0.000deg) skew(0.000deg) scale(1.015,0.970);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-0.759%,-0.794%) rotate(0.000deg) skew(0.000deg) scale(1.015,0.970);
	transform:translate(-0.759%,-0.794%) rotate(0.000deg) skew(0.000deg) scale(1.015,0.970);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer023 {
	-ms-transform:translate(0.500px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/21.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:387.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(0.500px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,20.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:657.50px;
}
#_idVideo001 {
	-ms-transform:translate(-8.678%,-6.076%) rotate(0.000deg) skew(0.000deg) scale(1.173,1.121);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-8.678%,-6.076%) rotate(0.000deg) skew(0.000deg) scale(1.173,1.121);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-8.678%,-6.076%) rotate(0.000deg) skew(0.000deg) scale(1.173,1.121);
	transform:translate(-8.678%,-6.076%) rotate(0.000deg) skew(0.000deg) scale(1.173,1.121);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer024 {
	-ms-transform:translate(0.500px,397.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,397.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/23.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:387.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(0.500px,397.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,397.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:657.50px;
}
#_idContainer026 {
	-ms-transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:627.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(748.991px,137.018px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:497.03px;
}
#_idContainer027 {
	-ms-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:460.13px;
}
#_idContainer028 {
	-ms-transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:400.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:311.50px;
}
#_idContainer029 {
	-ms-transform:translate(328.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(328.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:400.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(328.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(328.500px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:311.50px;
}
#_idVideo002 {
	-ms-transform:translate(-1.947%,0.516%) rotate(0.000deg) skew(0.000deg) scale(1.064,0.989);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-1.947%,0.516%) rotate(0.000deg) skew(0.000deg) scale(1.064,0.989);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-1.947%,0.516%) rotate(0.000deg) skew(0.000deg) scale(1.064,0.989);
	transform:translate(-1.947%,0.516%) rotate(0.000deg) skew(0.000deg) scale(1.064,0.989);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer030 {
	-ms-transform:translate(0.500px,414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.500px,414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/28.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:387.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(0.500px,414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.500px,414.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:639.50px;
}
#_idContainer032 {
	-ms-transform:translate(739.800px,135.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(739.800px,135.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:629.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(739.800px,135.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(739.800px,135.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:522.19px;
}
#_idContainer033 {
	-ms-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(725.339px,-1.910px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:558.28px;
}
#_idContainer034 {
	-ms-transform:translate(15.499px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(15.499px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:390.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(15.499px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(15.499px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.25px;
}
#_idContainer035 {
	-ms-transform:translate(370.000px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(370.000px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:390.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(370.000px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(370.000px,186.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:330.00px;
}
#_idContainer037 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:800.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:474.00px;
}
#_idContainer038 {
	-ms-transform:translate(712.339px,6.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(712.339px,6.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:214.91px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(712.339px,6.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(712.339px,6.090px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:599.66px;
}
#_idContainer039 {
	-ms-transform:translate(729.859px,613.110px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(729.859px,613.110px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:207.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(729.859px,613.110px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(729.859px,613.110px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:506.14px;
}
#_idContainer040 {
	-ms-transform:translate(734.239px,134.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(734.239px,134.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:488.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(734.239px,134.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(734.239px,134.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:536.04px;
}
#_idContainer041 {
	-ms-transform:translate(474.000px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(474.000px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/36.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:289.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(474.000px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(474.000px,228.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
}
#_idVideo003 {
	-ms-transform:translate(-144.716%,-96.804%) rotate(0.000deg) skew(0.000deg) scale(3.691,2.262);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-144.716%,-96.804%) rotate(0.000deg) skew(0.000deg) scale(3.691,2.262);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-144.716%,-96.804%) rotate(0.000deg) skew(0.000deg) scale(3.691,2.262);
	transform:translate(-144.716%,-96.804%) rotate(0.000deg) skew(0.000deg) scale(3.691,2.262);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer042 {
	-ms-transform:translate(474.000px,524.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(474.000px,524.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/38.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:275.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(474.000px,524.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(474.000px,524.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
}
#_idVideo004 {
	-ms-transform:translate(-34.951%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.756,1.002);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-34.951%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.756,1.002);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(-34.951%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.756,1.002);
	transform:translate(-34.951%,-0.001%) rotate(0.000deg) skew(0.000deg) scale(1.756,1.002);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer043 {
	-ms-transform:translate(474.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(474.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/40.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:220.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(474.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(474.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:246.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:387px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:657px;
}
div._idGenObjectAttribute-4 {
	height:387px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:640px;
}
img._idGenObjectAttribute-5 {
	-ms-transform:translate(-17.075%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.341,0.997);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-17.075%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.341,0.997);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	min-width:100%;
	transform:translate(-17.075%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.341,0.997);
	transform:translate(-17.075%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.341,0.997);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:100.00%;
}
div._idGenObjectAttribute-6 {
	height:289px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:246px;
}
div._idGenObjectAttribute-7 {
	height:275px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:246px;
}
div._idGenObjectAttribute-8 {
	height:220px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:246px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
